.bg-dark
{
    transition-delay: 50ms;
    background-color: rgb(71, 70, 70)!important;
    color:white!important;
}
.bg-light
{
    transition-delay: 50ms;
    background-color:white!important;
    color:black!important;
}

.Body
{
    display:flex ;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
    gap: 2rem;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;


}

footer{
    align-self: flex-end;
    width: 100%;
    background-color: rgb(24, 24, 9);
    text-align: center;
    color:white;
    font-size: 70%;
    
}

.btn-des
{
    width:100px;
    height: 40px;
    border-radius: 20%;
    font-size: 110%;
    transition: transform .2s ease-in;
}
.btn-des:hover{
    transform: scale(1.2);
}
.btn-dark{
    background-color: rgb(104, 47, 47);
    color:cyan;
    
}
.Header
{   
    text-align: left;
    color: rgb(182, 67, 67);
    font-family:serif;
    font-size: 20px;
    padding:4px;
}


.br-cyan
{
    border: solid 5px cyan;
    transition-delay: 50ms;
}
.br-dark
{
    border: solid 5px rgb(29, 31, 68);
    transition-delay: 50ms;
}












