#login
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    min-width: 30%;
    height: fit-content;
    overflow: hidden;
    opacity: 1;
    border-radius: 30% 20px 30% 20px;
    transition: all 1.5s ease-in-out;
    box-shadow: 20px 20px 20px black;
    background-image: linear-gradient(red,rgb(210, 142, 87));
   
}
#signup{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: fit-content;
    min-width: 30%;
    transform: rotateY(180deg);
    height: fit-content;
    overflow: hidden;
    opacity:0;
    border-radius: 20px 30% 20px 30%;
    transition: all 1.5s ease-in-out;
    box-shadow: 20px 20px 20px black;
    background-image: linear-gradient(red,rgb(210, 142, 87));
}


#loginOpt, #signOpt
{
    width:fit-content;
    /* height: 50px; */
    border-radius: 20px 10px 0px ;
    font-size: 110%;
    align-self: flex-end;
    background-color: cyan;
    color: rgb(184, 55, 35);
    font-family:sans-serif;
    transition: transform .5s;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 15px 8px 5px rgb(92, 90, 90);

}
#signOpt
{
    align-self: flex-start;
}
#loginOpt:hover{
    transform: scale(1.2);
    
}

#tophead
{
    font-size: 40px;
    font-family: sans-serif;
    color:rgb(172, 133, 166);
    position:relative;
    padding: 30px;
    text-shadow: 6px 2px 5px #23430C;
}
#logo
{
    display: block;
    margin-left: 50%;
    width:150px;
    height: 100px;
    transform: translate(-50%,-50%);
    border:solid 2px cyan;
    border-radius: 50%;
    
    transform: translate(-50%);
}
.inputs
{
    justify-content: center;
    align-items: center;
    border-radius: 20px;    
    height: 50px;
    width:50%;
    border-radius: 20px 0px 20px 0px ;
    font-size: 22px;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    font-family:Impact;
    color:rgb(75, 73, 74);
    box-shadow: 5px 8px 8px rgb(92, 90, 90);
    
}
.inputs:hover{
    transform: scale(1.05);
}
.inputs::placeholder
{
    color:rgb(75, 73, 74);
    opacity: 1;
}
